.input {
    min-width: 324px;
    height: 65px;
    /* border: 1px solid #eee; */
    border-radius: 10px;
    background: var(--color-white);
    font-weight: 400;
    font-size: 17px;
    text-indent: 5px; 
}

.input-title {
    font-weight: 400;
    font-size: 17px;
    color: var(--color-placeholder);
    
}

.invalid {
    border: 1px solid red;
    /* background: rgb(68, 6, 6 ); */
}
